.maze {
    fill: white;
}

.player {
    fill: green;
}

.clickregion {
    stroke: green;
    stroke-width: 4px;
    fill: none;
}

.endpoint {
    fill: red;
}

svg {
    background-color: black;
}
