.maze {
    fill: white;
}

.visibility {
    fill: yellow;
}

.clickable {
    cursor: pointer;
}

.dragging {
    cursor: move;
}

.shadow {
    fill: grey;
}

.player {
    fill: green;
}

.endpoint {
    fill: red;
}

svg {
    background-color: black;
}

body {
    background-color: black;
    color: white;
}
